body {
	background-color: rgb(29, 30, 51);
	min-height: 100vh;
	height: 100vh;
  }
  
  .header {
	background-color: rgb(0, 0, 0);
	width: 100vw;
	margin: 0;
  }
  
  .dropdown:hover .dropdown-menu {
	display: block;
	color: rgb(29, 30, 51);
  }
  
  /* Скрыть выпадающее меню по умолчанию */
  .dropdown-menu {
	background-color: rgb(255, 255, 255, 0.1);
	display: none;
  }
  
  /* Стиль для текстовой ссылки */
  .dropdown-toggle {
	font-weight: 800;
	font-size: 40px;
	color: rgb(255, 255, 255); /* Цвет текста, можно изменить */
  }
  
  .header-title {
	font-size: 50px;
	font-weight: 800;
	color: rgb(255, 255, 255);
  }
  
  .form {
	background-color: rgba(255, 255, 255, 0.1);
	margin: 100px auto;
	padding: 5%;
	border-radius: 8px;
	width: 70vw;
  }
  
  .button {
	background-color: rgb(29, 30, 51);
	border: solid 2px rgb(0, 0, 0);
	color: black;
  }
  
  footer {
	position: fixed;
	width: 100%;
	bottom: 0;
  }
  
  .sign-in {
	background-color: rgb(128, 128, 128);
	border: 2px solid rgb(29, 30, 51);
	color: white;
	font-weight: 800;
  }
  
  .sign-up {
	background-color: rgb(29, 30, 51);
	border: 2px solid rgb(128, 128, 128);
	color: white;
	font-weight: 800;
  }
  
  .url-form {
	border: solid 2px rgb(0, 0, 0);
	color: black;
  }
  
  #header {
	transition: background-color 0.3s ease; /* Плавный переход цвета */
	transition: background-color 0.3s ease;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
  }
  
  .header.transparent {
	background-color: transparent; /* Прозрачный фон */
  }
  
  .header.solid {
	background-color: black; /* Черный фон */
  }
  
  .test {
	height: 3000px;
  }
  